[MASTER]
enable=useless-suppression
exclude =
    .github
    .git
    .idea
    __pycache__
    .env
    pytest.ini
    Dockerfile
    docker-compose.yml
    settings.py
    */migrations/*
    */tests/*
