aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
asgiref==3.10.0
astroid==4.0.1
attrs==25.4.0
cffi==2.0.0
cfgv==3.4.0
click==8.3.0
colorama==0.4.6
cryptography==46.0.3
dill==0.4.0
distlib==0.4.0
Django==5.2.7
django-allauth==65.13.0
django-countries==7.6.1
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.11
fastjsonschema==2.21.2
filelock==3.20.0
flake8==7.3.0
Flake8-pyproject==1.2.3
frozenlist==1.8.0
identify==2.6.15
idna==3.11
inflection==0.5.1
iniconfig==2.3.0
isort==7.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jwt==1.4.0
mccabe==0.7.0
multidict==6.7.0
mypy==1.18.2
mypy-extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
platformdirs==4.5.0
pluggy==1.6.0
pre_commit==4.3.0
propcache==0.4.1
psycopg-binary==3.2.12
psycopg2-binary==2.9.11
pycodestyle==2.14.0
pycparser==2.23
pyflakes==3.4.0
Pygments==2.19.2
PyJWT==2.10.1
pylint==4.0.2
pytest==8.4.2
pytest-django==4.11.1
pytest-dotenv==0.5.2
python-decouple==3.8
python-dotenv==1.2.1
pytz==2025.2
PyYAML==6.0.3
referencing==0.37.0
rpds-py==0.28.0
setuptools==80.9.0
sqlparse==0.5.3
tomlkit==0.13.3
traitlets==5.14.3
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
virtualenv==20.35.4
wheel==0.45.1
yarl==1.22.0

django-filter~=25.2