<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Password Reset</title>
</head>
<body>
    <h2>AutoShop Password Reset</h2>
    <p>You received this email because you requested a password reset for your account.</p>
    <p>
        <a href="{{ frontend_url }}/password-reset/confirm/{{ uid }}/{{ token }}/">
            Click here to set a new password
        </a>
    </p>
    <p>If you didn't request a password reset, please ignore this email.</p>
    <p>Best regards,<br>AutoShop Team</p>
</body>
</html>